@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Inter:wght@400;700&family=Montserrat&family=Overpass&family=Raleway:wght@200;400&display=swap');
@import url('https://fonts.cdnfonts.com/css/histora-beralin');

:root {
    --cor-fundo-primaria: #FDFEFE;
    --cor-fundo-secundaria: #E8B1B8;
    --fonte-primaria: 'Raleway', sans-serif;
    --fonte-secundaria: 'Histora Beralin', sans-serif;
    --fonte-terciaria: 'maiandra-gd-regular', sans-serif;
    --cor-preto: #000000;
    --cor-branca: #FFFFFF;
    --cor-rosa: #FF8B99;
    --cor-azul: #3A59FF;
    --cor-marrom: #271908;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--cor-branca);
    margin: 0 auto;
}

.header__box {
    width: 1440px;
    height: 155px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: var(--fonte-primaria);
    font-size: 20px;
}

.header__link-left {
    padding: 36px 0 0 70px;
}

.header__link-home {
    color: var(--cor-azul);
    padding-right: 90px;
}

.header__link-about {
    color: var(--cor-preto);
}

.header__link-right {
    padding: 34px 60px 0 0;
}

.header__link-login {
    color: var(--cor-preto);
    padding-right: 32px;
}

.header__link-singup {
    color: var(--cor-rosa);
    padding: 6px 26px 6px 26px;
    border: 1px solid var(--cor-rosa);
    border-radius: 20px;
}

.main {
    max-width: 1440px;
    width: 90%;
    height: 897px;
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 44px 0 114px;
}

.main__box {
    width: 684px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 204px;
}

.main__box-titulo {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    width: 674px;
    margin-left: 1px;
    font-family: var(--fonte-secundaria);
    font-size: 85px;
    color: var(--cor-preto);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.07em;
    z-index: 1;
    margin-bottom: 30px;
}

.main__box-titulo strong {
    color: var(--cor-azul);
}

.main__box-texto {
    font-family: var(--fonte-primaria);
    font-size: 36px;
    letter-spacing: 0.07em;
    width: 208px;
    margin-bottom: 70px;
}

.main__box-botao {
    font-family: var(--fonte-primaria);
    font-size: 22px;
    color: var(--cor-branca);
    background-color: var(--cor-marrom);
    border: none;
    border-radius: 40px;
    width: 227px;
    height: 66px;
    cursor: pointer;
}

.main__img {
    position: relative;
    top: 0;
    left: -284px;
    right: auto;
    width: 888px;
}